<div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#"><%- lang.navbar.markread %></a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="far fa-envelope"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <%- lang.navbar.newmessage %>
                    <b>Roni Äikäs:</b><br>
                    Kova jätkä
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="/img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block"><%- user.firstname %> <%- user.lastname %></div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title"><%- username -%></div>
              <a href="/account/logout" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Kirjaudu ulos
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="/"><%- school.name %></a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="/">Ritta</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header"></li>
              <li class="nav-item dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-book"></i><span><%- lang.navbar.common %></span></a>
                <ul class="dropdown-menu">
                  <li<%- (pageid === "homepage") ? ' class="active"' : '' -%>><a class="nav-link" href="/"><i class="fas fa-home"></i><%- lang.navbar.home %></a></li>
                </ul>
            </li>
          </ul>
        </aside>
      </div>