<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Ritta &mdash; Kirjaudu</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/components.css">
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <img src="/img/ritta-color.svg" alt="logo" width="200">
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4><%- school.name !== "" ? school.name + ", ": "" %><%- school.city %></h4></div>
              <div class="card-body">
                <% if (error) { %>
                  <div class="alert alert-primary">
                    <%- error %>
                  </div>
                <% } %>
                <form method="POST" action="/account/process" class="needs-validation" novalidate="">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="form-group">
                    <label for="username"><%- lang.username %></label>
                    <input id="username" type="text" class="form-control" name="username" tabindex="1" required autofocus>
                    <div class="invalid-feedback">
                      <%- lang.error_fieldrequired %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                    	<label for="password" class="control-label"><%- lang.password %></label>
                    </div>
                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                    <div class="invalid-feedback">
                      <%- lang.error_fieldrequired %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                    	<label for="code" class="control-label">2FA-koodi</label>
                    </div>
                    <input id="code" type="text" inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code" class="form-control" name="code" tabindex="2">
                  </div>
                  
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      <%- lang.login %>
                    </button>
                  </div>
                </form>
                <div class="text-center mt-4 mb-3">
                  <div class="text-job text-muted"><%- lang.authenticate %></div>
                </div>
                <!--  -->
                <% if (opinsys.enabled) { %>
                  
                    <a class="btn btn-primary btn-lg btn-block" tabindex="4" href="https://api.opinsys.fi/v3/sso?organisation=<%- opinsys.organization %>&return_to=<%- opinsys.redirectURI %>" >
                      <img src="/images/opinsys.svg" height="30">
                    </a>
                 <% } %>

              </div>
            </div>
            <div class="simple-footer">
              Copyright &copy; Ritta <%- 1900+new Date().getYear() %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/js/jquery.nicescroll.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/stisla.js"></script>
  <script defer src="/js/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="/js/scripts.js"></script>
  <script src="/js/custom.js"></script>

  <!-- Page Specific JS File -->
</body>
</html>
