<!DOCTYPE html>
<%
moment.locale('fi');

const unreadMessageAmount = () => {
  let amount = 0;
  for(var i=0; i < messages.length; i++) {
    let sender = messages[i].userRecipientData;
    if(!sender.read) amount += 1;
  }
  return amount;
}
%>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Ritta &mdash; Etusivu</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/summernote/dist/summernote-bs4.css">
  <link rel="stylesheet" href="/fullcalendar/main.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/components.css">
</head>

<body class="layout-3">
  <div id="app">
    <div class="main-wrapper container">
      <%- include ('partials/navbar', {hideItems: false, lang: lang, user: user, username: username, school: school, pageid: "messages"}) -%>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <div class="section-header-button">
              <a href="/messages/send" class="btn btn-primary"><i class="far fa-envelope"></i> Kirjoita uusi viesti</a>
            </div>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active">Ritta</div>
              <div class="breadcrumb-item"><a href="/messages">Viestit</a></div>
            </div>
          </div>
          <div class="section-body">
            <h2 class="section-title"><%- lang.messages %></h2>
            <p class="section-lead">
              Sinulla on <%= unreadMessageAmount(); %> lukematonta viestiä.
            </p>

            <div class="row">
              <div class="col-12">
                <div class="card mb-0">
                  <div class="card-body">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="/messages">Saapuneet <span class="badge badge-white"><%= messages.length %></span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/messages/sent">Lähetetyt <span class="badge badge-primary"><%= sent %></span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/messages/archive">Arkisto <span class="badge badge-primary"><%= archive %></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="float-left">
                      <select class="form-control selectric">
                        <option>Valitse toiminto</option>
                        <option>Merkitse luetuksi</option>
                        <option>Arkistoi</option>
                        <option>Poista</option>
                      </select>
                    </div>
                    <div class="float-right">
                      <form>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Haku">
                          <div class="input-group-append">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="clearfix mb-3"></div>

                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th class="text-center pt-2">
                            <div class="custom-checkbox custom-checkbox-table custom-control">
                              <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                              <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                            </div>
                          </th>
                          <th>Aihe</th>
                          <th>Lähettäjä</th>
                          <th>Viestejä</th>
                          <th>Lähetetty</th>
                        </tr>
                        <% messages = messages.sort((a, b) => new Date(b.created)-new Date(a.created)); %>
                        <% for(var i=0; i < messages.length; i++) { %>
                          <tr>
                            <td>
                              <div class="custom-checkbox custom-control">
                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2">
                                <label for="checkbox-2" class="custom-control-label">&nbsp;</label>
                              </div>
                            </td>
                            <td><a href="/messages/<%= messages[i]._id %>"><% if(!messages[i].userRecipientData.read) { %><span class="badge badge-info">Uusi!</span><% } %> <%= messages[i].name %></a>
                              <div class="table-links">
                                <a href="/messages/<%= messages[i]._id %>">Avaa</a>
                                <div class="bullet"></div>
                                <a href="/messages/<%= messages[i]._id %>/markread">Merkitse luetuksi</a>
                                <div class="bullet"></div>
                                <a href="/messages/<%= messages[i]._id %>/archive">Arkistoi</a>
                                <div class="bullet"></div>
                                <a href="/messages/<%= messages[i]._id %>/remove" class="text-danger">Poista</a>
                              </div>
                            </td>
                            <td>
                              <% let sender = messages[i].senderObject; %>
                                <img alt="image" src="/img/avatar/avatar-5.png" class="rounded-circle" width="35" data-toggle="title" title=""> <div class="d-inline-block ml-1"><%= sender.firstName %> <%= sender.lastName %> (<%= sender.username %>)</div>
                            </td>
                            <td><%= messages[i].messages.length %> viesti(ä)</td>
                            <td><%= moment(messages[i].created).calendar(); %></td>
                          </tr>
                       <% } %>
                      </table>
                    </div>
                    <div class="float-right">
                      <nav>
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include("partials/footer", {version: version}) -%>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/js/jquery.nicescroll.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/stisla.js"></script>
  <script defer src="/js/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

  <!-- JS Libraies -->
  <%- include("partials/imports", {notificationID: notificationID}) -%>

  <!-- Template JS File -->
  <script src="/js/scripts.js"></script>
  <script src="/js/custom.js"></script>

  <!-- Page Specific JS File -->
  <script src="/js/page/index.js"></script>
  <script src="/js/page/features-posts.js"></script>
</body>
</html>
