<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Ritta &mdash; Asetukset</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/summernote/dist/summernote-bs4.css">
  <link rel="stylesheet" href="/fullcalendar/main.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/components.css">
</head>

<body class="layout-3">
  <div id="app">
    <div class="main-wrapper container">
      <%- include ('partials/navbar', {hideItems: false, lang: lang, user: user, username: username, school: school, pageid: "messages"}) -%>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active">Ritta</div>
              <div class="breadcrumb-item"><a href="/account/settings">Asetukset</a></div>
            </div>
          </div>
          <div class="section-body">
            <h2 class="section-title"><%- lang.settings %></h2>
            <p class="section-lead">
              Olet kirjautuneena k채ytt채j채ll채 <b><%- user.username %></b>
            </p>

            <div class="card">
              <div class="card-header">
                <h4>Vaihda salasana</h4>
              </div>
              <div class="card-body">
                <div class="fc-overflow">
                  <p>Placeholder</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h4>Kaksivaiheinen tunnistautuminen</h4>
              </div>
              <div class="card-body">
                <div class="fc-overflow">
                  <div id="mfa_loading">
                    <a class="btn btn-primary btn-progress"></a>
                  </div>
                  <div id="mfa_enable">
                    <button onclick="alert('mfa aktivate')" class="btn btn-primary">Aktivoi kaksivaiheinen tunnistautuminen.</button>
                  </div>
                  <div id="mfa_disable">
                    <button onclick="alert('mfa disaple')" class="btn btn-danger">Poista kaksivaiheinen tunnistautuminen.</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include("partials/footer", {version: version}) -%>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/js/jquery.nicescroll.min.js"></script>
  <script src="/js/stisla.js"></script>
  <script defer src="/js/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

  <!-- JS Libraies -->
  <%- include("partials/imports", {notificationID: notificationID}) -%>

  <!-- Template JS File -->
  <script src="/js/scripts.js"></script>
  <script src="/js/custom.js"></script>

  <!-- Page Specific JS File -->
  <script src="/js/page/index.js"></script>
  <script src="/js/page/features-posts.js"></script>
</body>
</html>
