<div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <a href="/" class="navbar-brand sidebar-gone-hide"><img src="/img/ritta-white.png" height=50></a>
        <div class="navbar-nav">
          <a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>
        </div>
        <div class="nav-collapse">
          <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="#">
            <i class="fas fa-ellipsis-v"></i>
          </a>
          <ul class="navbar-nav">
            <li class="nav-item active"><a href="#" class="nav-link">Ulkoinen linkki 1</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ulkoinen linkki 2</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ulkoinen linkki 3</a></li>
          </ul>
        </div>
        <form class="form-inline ml-auto">
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg" id="notificationButton"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Ilmoitukset
                <div class="float-right">
                  <a href="#"><%- lang.navbar.markread %></a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-primary text-white">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b><%- lang.navbar.newmessage %></b><br>
                    Liikunta huomenna!
                    <div class="time text-primary">2 tuntia sitten</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-success text-white">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b><%- lang.navbar.newnote %></b><br>
                    K채ytt채ydyit hyvin tunnilla!
                    <div class="time">12 minuuttia sitten</div>
                  </div>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">Katso kaikki <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="/img/avatar/avatar-1.png" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block"><%- user.firstName %> <%- user.lastName %></div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title"><%- user.username %></div>
              <a href="/account/settings" disabled class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Asetukset
              </a>
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Kirjaudu ulos
              </a>
            </div>
          </li>
        </ul>
      </nav>

      <nav class="navbar navbar-secondary navbar-expand-lg">
        <div class="container">
          <ul class="navbar-nav">
            <% if (!hideItems) { %>
              <li class="nav-item <%- pageid === 'homepage' ? 'active' : '' %>">
                <a href="/" class="nav-link active"><i class="fas fa-home"></i><span><%- lang.homepage %></span></a>
              </li>
              <li class="nav-item <%- pageid === 'timetable' ? 'active' : '' %>">
                <a href="/timetable" class="nav-link active"><i class="far fa-calendar"></i><span>Lukuj채rjestys</span></a>
              </li>
              <li class="nav-item <%- pageid === 'messages' ? 'active' : '' %>">
                <a href="/messages" class="nav-link active"><i class="far fa-envelope"></i><span><%- lang.navbar.messages %></span></a>
              </li>
              <li class="nav-item <%- pageid === 'announcements' ? 'active' : '' %>">
                <a href="/announcements" class="nav-link active"><i class="fas fa-bullhorn"></i>
                  <span>Tiedotteet</span></a>
              </li>
              <li class="nav-item <%- pageid === 'lessonnotes' ? 'active' : '' %>">
                <a href="/lessonnotes" class="nav-link active"><i class="far fa-sticky-note"></i><span>Tuntimerkinn채t</span></a>
              </li>
              <li class="nav-item <%- pageid === 'exams' ? 'active' : '' %>">
                <a href="/exams" class="nav-link active"><i class="far fa-file-alt"></i><span>Kokeet</span></a>
              </li>
              <li class="nav-item <%- pageid === 'quizes' ? 'active' : '' %>">
                <a href="/quizes" class="nav-link active"><i class="fas fa-file-signature"></i><span>Kyselyt</span></a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link has-dropdown"><span><i class="fas fa-ellipsis-h"></i></span></a>
                <ul class="dropdown-menu">
                  <li class="nav-item <%- pageid === 'rooms' ? 'active' : '' %>">
                    <a href="/rooms" class="nav-link active"><i class="fas fa-door-open"></i> <span>Huoneet</span></a>
                  </li>
                  <li class="nav-item <%- pageid === 'teachers' ? 'active' : '' %>">
                    <a href="/teachers" class="nav-link active"><i class="fas fa-chalkboard-teacher"></i> <span>Opettajat</span></a>
                  </li>
                  <li class="nav-item <%- pageid === 'studies' ? 'active' : '' %>">
                    <a href="/studies" class="nav-link active"><i class="fas fa-graduation-cap"></i> <span>Opiskelut</span></a>
                  </li>
                </ul>
              </li>   
            <% } %>     
          </ul>
        </div>
      </nav>